html, body {
    width: 100%;
	min-width:720px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {font-family: 'Ubuntu', sans-serif; font-weight: 300; font-style: italic; font-size:16px; line-height: 20px; color:#292929;}
h1, h2, h3{color:#292929;}

a, a:link, a:visited{color:#006efe}

.b_elastic{width:1280px; margin:0 auto;}

.btn:focus{outline: none;box-shadow: none;}


@media sreen and (min-width:1600px) {

}

@media (max-width:1600px) and (min-width:900px) { 

 }

@media (max-width:900px) and (min-width:720px) { 
	
 }





