* {
	margin: 0;
	padding: 0;
}
html {
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	width: 100%;
	height: 100%;
}
.wrapper {
	width: 1000px;
	margin: 30px auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 340px;
	background-image:url(../gfx/fon.jpg); background-position: center 0; background-repeat: no-repeat;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 190px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 10px 0 260px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 250px;
	margin-left: -100%;
	position: relative;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 980px;
	margin: -190px auto 0;
	height: 190px;
	position: relative;
}